*{
    margin: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: black;

    /* makes it so user cant scroll to the side of the page. page is fixed width */
    max-width: 100%;
    overflow-x: hidden;

    min-height: 100vh;
}

/* text */

h1{
    color: white;
    font: calc(2px + 5vw) monospace;
}

h2{
    color: white;
    font: calc(2px + 4vw) monospace;
    margin: 4%;
}

h3{
    color: white;
    font: italic bold calc(2px + 2vw) monospace;
    margin: 4%;
}

h4{
    font: calc(2px + 1.8vw) monospace;
}

p{
    color: white;
    font: calc(2px + 1.5vw) monospace;
}

.caption{
    color: greenyellow;
    font: calc(2px + 1.4vw) monospace;
    text-align: center;
    padding-top: 0;
}

nav{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;

    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
}

/* nav bar */
nav ul{
    text-align: center;
    padding-left: none;
}

nav ul li{
    display: inline;
    list-style: none;
    padding: 2%;
}

nav ul li a{
    opacity: 100%;
    color: cyan;
    font: calc(2px + 1.5vw) monospace;
    text-decoration: none;
}

nav ul li a:hover{
    font-style: italic;
    font-weight: bold;
   
}

/* normal header */
header{
    color: rgb(226, 96, 187);
    margin-top: 8%;
}

/* binary and hello world header*/

#binary-header{
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* centering text */
    justify-content: center;  /* horizontal */
    align-items: center;      /* vertical */

    /* z-index: 10; */
}


/* binary numbers */
#binary-wrapper{
    /* position: relative; */
    position: absolute;
    opacity: 25%;
    z-index: -1;
    
}

.binary-line{
    animation: scroll 10s linear infinite;
    /* position: absolute; */
    white-space: nowrap;
    font: calc(2px + 5vw) monospace;
    animation-delay: -50s;
}


/* more info when you scroll down */
main{
    position: relative;

    margin: auto;
    width: 90%;

    min-height: 100vh;
}

#home-page{
    /* fade in animation on home page main content */
    animation: fadeIn;
    animation-timeline: view();
}

/* for multi column layout */
.multi-col{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}

/* home page */
.left-inner-col{
    width: 40%;
}

.right-inner-col{
    width: 60%;
}

.left-inner-col img{
    max-width: 25vw;
}

.multi-col p{
    padding-top: 5%;
    margin: auto;
    text-align: left;
}

.multi-col .left-inner-col .caption{
    color: greenyellow;
    font: italic calc(2px + 1.1vw) monospace;
    text-align: center;
    padding-top: 0;
}

/* for gallery */
.multi-col .img-layout{
    display: flex;
    flex-direction: column;
    margin: 3%;

    /* fade in animation on each row of images */
    animation: fadeIn;
    animation-timeline: view();
}

.multi-col .img-layout img{
    max-width: 20vw;
}


.multi-col .img-layout .caption{
    
}




footer{
    margin-top: 4%;
    padding: 1%;
    background-color: rgb(32, 29, 29)
}

footer p, footer a{
    color: rgb(9, 181, 181);
    font: calc(2px + 1vw) monospace;
}


@keyframes scroll{
    0%{
        transform: translateX(100%);
    }
    100% { 
        transform: translateX(-100%); 
    }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media screen and (max-width: 800px){
    /* header */
    header{
        height: 90vh;
    }

    /* for two column layout */
    .two-col{
        flex-direction: column;
    }

    .left-inner-col{
        width: 100%;
    } 

     .right-inner-col{
        width: 100%;
    }

    .left-inner-col img{
        object-fit: cover;
        width: 400px;
        height: 150px;
    }

    .two-col p{
        padding-top: 5%;
        margin: auto;
        text-align: left;
    }

    .two-col .left-inner-col .img-caption{
        color: greenyellow;
        font: italic calc(2px + 1.1vw) monospace;
        text-align: center;
        padding-top: 0;
    }
}

/* @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } */